<!DOCTYPE html>
<html>
<head>
  <title>Chander Shekhar</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
  <h2>CS</h2>
  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</nav>

<section class="hero">
  <h1>Chander Shekhar</h1>
  <h2>Developer • Builder • Creator</h2>

  <p>
    I design and build modern web apps, software systems, and explore AI & ML.
  </p>

  <a href="/about" class="btn">About Me</a>
</section>

</body>
</html>